html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow:initial;
    font-family: "Avenir" !important;
    background: black !important;
    color: #fff !important;
}


/* Scroll animation starts here */
.scroll-down {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}


/* Horizontal line starts here */
.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}
/* Horizontal line ends here */

/* Social media icons starts here */
#media ul {
    list-style: none;
}
#media ul li {
    
    display: inline-block;
    position: relative;
    width:50px;
    padding:10%;
}
#media ul li a{
    font-size: 50px;
    color: white;
    transition: color 0.5s ease-out;
    transition: font-size 0.1s ease-out;
}
#media ul li a:hover{
    color:gray;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    text-decoration: none;
}
#media ul span li a{
    font-size: 50px;
    color: white;
    transition: color 0.5s ease-out;
    transition: font-size 0.1s ease-out;
}
#media ul span li a:hover{
    color: #38A1F3;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    text-decoration: none;
}
#media ul span span li a{
    font-size: 50px;
    color: white;
    transition: color 0.5s ease-out;
    transition: font-size 0.1s ease-out;
}
#media ul span span li a:hover{
    color: #0e76a8;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    text-decoration: none;
}
#media ul span span span li a{
    font-size: 50px;
    color: white;
    transition: color 0.5s ease-out;
    transition: font-size 0.1s ease-out;    
}
#media ul span span span li a:hover{
    border-radius: 40%;
    height:42px;
    color:white;
    text-decoration: none;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; 
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 90%); 
    }
/* Social media icons ends here */

/* Main box starts here */
.box{
    width: 450px;
    background-size:100%;
    padding: 40px;
    text-align: center;
    margin-top: 5%;
    margin: auto;
    background: transparent;
    color: white;
    position: relative;
    top: 100px;
    font-family: 'Avenir', sans-serif;
}
/* Bitmoji image */
.box-img{
    background: url(../images/aboutprofile.jpg);
    background:cover;
    background-size:100%;
    width: 250px;
    border-radius:50%;
    height: 250px;
    transition: all 0.1s ease-out;
    transform: translatey(0px);
    
}
/* Bitmoji image hover */

/* Header About */
.box h5{
    font-size: 70px;
    letter-spacing: 3px;
    font-weight: 100;
}
ul{
    margin: 0px;
    padding: 0;
}
.box li{
    display: inline-block;
    list-style:none;
}
.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all 0.5s ease-out;
}

.box span li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all 0.5s ease-out;
}
/* Target */
.box span li a:hover{
    color: #ff4d4d;
}
.box li a:hover:not(.key,.box span span span li a,.box span li a ) {
    color:gray;
}
/* Graduation */
.box span span li a:hover {
    color: #0077B5;
}
.box span span li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all 0.5s ease-out;
}
/* Soccer */
.box span span span li a:hover {
    color: #66ff66;
}
/* Keyboard */
.key:hover{
        color: yellow;
}
/* Main box ends here */

/* Columns and rows starts here */
.main {
    max-width: 1500px;
    margin: auto;
}

* {
    box-sizing: border-box;
}
.main {
    max-width: 1500px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin: 8px -16px;
}
/* padding between each column */
.row,
.row > .column {
    padding: 4px;
    margin: auto;
}
.column {
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    }
.content {
    background-color: white;
    padding: 10px;
    border-radius: 35px;
    transition: all 0.3s;
}
.content:hover{
    transform: scale(1.015);
    transition: all 0.3s;
}
/* Columns and rows ends here */




/* Fitting columns starts here */
@media screen and (max-width: 980px) {
.column {
    margin-bottom: 5px;
    flex-basis: 40%;
}
}
@media screen and (max-width: 680px) {
.column {
    flex-basis: 80%;
}
}
/* Fitting columns ends here */


/* Footer starts here */
footer {
    position: relative;
    height: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    bottom:0;
}
p.copyright span {
    font-size: 30px;
}
/* Footer ends here */
#resume{
    width:200px; 
    padding:10px 25px; 
    border-radius: 5px; 
    border:2px solid white; 
    background-color: black; 
    display: block; 
    margin: 0px auto; 
    color: white;
    text-align: center; 
    transition: all 0.5s ease-out;
}
#resume:hover{
    text-decoration: none;
    border:2px solid white; 
    background-color: white; 
    color: black;
    transition: all 0.5s ease-out;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */




/* Iphone */

@media only screen and (max-width:414px) and (min-width:320px){
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Mono" !important;
    background: black !important;
    color: #fff !important;
}




/* Navbar ends here */

/* Scroll animation starts here */
.scroll-down {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(0deg);
}

/* Scroll animation ends here */

/* Horizontal line starts here */
.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}
/* Horizontal line ends here */


/* Social media icons ends here */

/* Main box starts here */
.box{
    width: 300px;
    background-size:100%;
    padding: 40px;
    text-align: center;
    margin-top: 5%;
    margin: auto;
    background: transparent;
    color: white;
    position: relative;
    top: 100px;
    font-family: 'Avenir';
}
/* Bitmoji image */
.box-img{
    background: url(../images/aboutprofile.jpg);
    background:cover;
    background-size:100%;
    width: 200px;
    border-radius:50%;
    height: 200px;
    transition: all 0.1s ease-out;
    transform: translatey(0px);
    
}
/* Header About */
.box h5{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 100;
}
ul{
    margin: 0px;
    padding: 0;
}
.box li{
    display: inline-block;
    list-style:none;
}
.box li a {
    color: white;
    text-decoration: none;
    font-size: 33px;
    transition: all 0.5s ease-out;
}
.plane .text{
    font-size:10px;
    color:transparent;
    width:0;
    text-align: center;
    white-space: nowrap;
    margin: auto;
    transition: all 0.5s ease-out;
}
.plane:hover .text{
    text-align: center;
    color: transparent;
    margin: auto;
    font-size:10px;
}
.text h3{
    font-size:15px; 
    color: transparent;
    text-align: center;
    margin: auto;
}
.box span li a {
    color: white;
    text-decoration: none;
    font-size: 33px;
    transition: all 0.5s ease-out;
}
/* Target */
.box span li a:hover{
    color: #ff4d4d;
}
.box li a:hover:not(.key,.box span span span li a,.box span li a ) {
    color:gray;
}
/* Graduation */
.box span span li a:hover {
    color: #0077B5;
}
.box span span li a {
    color: white;
    text-decoration: none;
    font-size: 33px;
    transition: all 0.5s ease-out;
}
/* Soccer */
.box span span span li a:hover {
    color: #66ff66;
}
/* Keyboard */
.key:hover{
        color: yellow;
}
/* Main box ends here */

/* Columns and rows starts here */
.main {
    max-width: 1500px;
    margin: auto;
}

* {
    box-sizing: border-box;
}
.main {
    max-width: 1500px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin: 8px -16px;
}
/* padding between each column */
.row,
.row > .column {
    padding: 4px;
    margin: auto;
}
.column {
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    }
.content {
    background-color: white;
    padding: 10px;
    border-radius: 35px;
    transition: all 0.3s;
}
.content:hover{
    transform: scale(1.015);
    transition: all 0.3s;
}
/* Columns and rows ends here */


/* Fitting columns starts here */
@media screen and (max-width: 980px) {
.column {
    margin-bottom: 5px;
    flex-basis: 40%;
}
}
@media screen and (max-width: 680px) {
.column {
    flex-basis: 80%;
}
}
/* Fitting columns ends here */


/* Footer starts here */
footer {
    position: relative;
    height: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 100px;
    font-size: 15px;
    text-align: center;
    bottom:0;
}
p.copyright span {
    font-size: 20px;
}
/* Footer ends here */
}
