/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
* {
  font-family: "Avenir";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
/* This will not let anything be highlighted with the mouse */
Hello, 
My name is Talal El Zeini, I’ve applied to San Jose State University and unfortunately, I wasn’t accepted. The rejection letter said that the GPA and major-specific coursework that I reported did not meet the minimum threshold required for the major I selected, however, it did not mention anything about the alternate major, so was I considered for the alternate major or not? If not, could I be please be considered, because I believe that I have the required courses and GPA for the alternate major. Moreover, including the semester of winter 2020 and  spring 2021, the number of credits I took would pass 60, just in case that was misinterpreted, because in the supplemental application, I mentioned that I only completed 44 credits, which did not include neither the semester of 2020 nor the spring of 2021.

Thank you,
Talal El Zeini

Student ID Number:
01536477