.myContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myContainer p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .myContainer p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .myContainer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .myContainer p span.cursor.typing {
    animation: none;
  }
  .typing{
    animation: none;
  }

  @media screen and (max-width: 760px) {
    .myContainer p {
      font-size: 1.5rem;
    }
  }