html {
  width: 100vw;
  min-height: 100vh;
}
body {
  width: inherit;
  min-height: inherit;
  margin: 0;
  padding: 0;
  background-color: black;
}
h3 {
  text-align: center;
}
* {
  font-family: "Avenir";
  font-weight: normal;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.link {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  background-color: white;
  font-size: 16px;
  color: black;
  width: 10%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 7px;
  margin: 5px auto;
  display: block;
  transition: 0.25s;
}
.link:hover {
  transition: 0.25s;
  background: #eeeeee;
}
.link i {
  color: black;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.landing-page {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.corner-name {
  float: left;
  margin-left: 10px;
  letter-spacing: 2px;
  line-height: 32.5px;
}
.corner-name a {
  text-decoration: none;
}
.landing-image {
  width: 25%;
  position: absolute;
  top: 25%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-animation: fly 5s linear infinite;
  -moz-animation: fly 5s linear infinite;
  animation: fly 5s linear infinite;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.hr-50 {
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
  width: 50%;
}
.hr-25 {
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
  width: 25%;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.about-section,
.experience-section {
  color: white;
  margin: 200px auto;
  display: block;
  text-align: center;
  width: 50%;
}
.about-section p,
.experience-section p {
  width: 75%;
  text-align: left;
  line-height: 25px;
  display: block;
}
.about-section p,
.experience-section p {
  margin: 0px auto;
  margin-top: 50px;
}
.about-section ul,
.experience-section ul {
  margin: 0px auto;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */

.profile-image {
  width: 20%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.name {
  margin-top: 40px;
}
.name,
.info {
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.box {
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.media-icons {
  display: inline-block;
}
.media-icons a {
  font-size: 50px;
  color: white;
}
.scroll-down {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  text-align: center;
  width: 13px;
  height: 13px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  animation: scroll_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@keyframes scroll_down {
  0% {
    transform: translate(0, 0px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 50px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fly {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.fright {
  float: right;
}
.fleft {
  float: left;
}
.education-images {
  margin: 0px auto;
  display: block;
  width: 100%;
  text-align: center;
}
.experience-images {
  margin: 0px auto;
  display: block;
  width: 100%;
  text-align: center;
}
.education-image {
  display: inline-block;
  width: 8%;
  border-radius: 7px;
  margin: 0px;
  background-color: white;
}
.experience-image {
  display: inline-block;
  width: 15%;
  padding: 20px;

  border-radius: 7px;
  text-align: center;
  margin: 0px;
  background-color: white;
}
.experience-image img {
  color: black;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
}
.education-image img {
  color: black;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
}
.experience-image p {
  display: block;
  width: 100%;
  margin: 0 auto;

  text-align: left;
  margin-top: 10px;
  color: black;
}

.website-link {
  width: 25%;
  border-radius: 7px;
  display: block;
  margin: 15px auto;
  border: 2px solid white;
  position: relative;
  top: 0;
  transition: 0.25s;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}
.website-link:hover {
  top: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.75);
  transition: 0.25s;
}

.demoLink,
.codeLink,
.programLink {
  color: black;
  background: white;
  text-decoration: none;
  text-align: center;
}
.codeLink {
  margin-left: 20px;
}
.demoLink {
  margin-right: 20px;
}

.plane-image {
  -webkit-animation: fly 4s linear infinite;
  -moz-animation: fly 4s linear infinite;
  animation: fly 4s linear infinite;
}

.subTitle {
  cursor: pointer;
  text-align: center;
  margin: 25px auto;
  display: block;
  text-decoration: none;
}
.subTitle:hover {
  text-decoration: underline;
}
.statue-image {
  width: 20%;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.footer-info {
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 75%;
}
.footer-info a {
  text-align: center;
  display: block;
  margin-top: 5px;
  white-space: nowrap;
}

/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
/* NAVBAR  */
nav {
  box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.5);
  width: 100%;
  background: black;
  height: 60px;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  position: fixed;
  z-index: 1;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.job-paragraph {
  height: 200px;
}
.achievements {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  text-align: center;
  margin: 0 auto;
}
.achievements .job {
  width: 25%;
}
.achievements .school-project {
  width: 50%;
}
.achievements .job,
.achievements .school-project {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 0.25s;
}
.achievements .job:hover,
.achievements .school-project:hover {
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
  transition: 0.25s;
}
.achievements .active {
  border-bottom: 2px solid white;
  color: white;
  cursor: normal;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.about-image {
  width: 40%;
  margin: 0 auto;
  display: block;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 7px;
}
.mainTitle {
  color: white;
  font-size: 40px;
  font-weight: 800;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px auto;
  margin-top: 40px;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
.downloadPDF {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  background-color: white;
  font-size: 16px;
  color: black;
  /* width: 10%; */
  text-transform: uppercase;
  text-align: center;
  border-radius: 7px;
  margin: 5px auto;
  display: block;
  transition: 0.25s;
}
.downloadPDF:hover {
  transition: 0.25s;
  background: #eeeeee;
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@media (max-width: 1500px) {
  .website-link {
    width: 35%;
    border-radius: 7px;
  }
}
@media (max-width: 1300px) {
  .website-link {
    width: 50%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
  }
  .website-link:hover {
    top: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0);
  }
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@media (max-width: 1025px) {
  .link {
    width: 50%;
  }
  .link:hover {
    transition: 0.25s;
    background: white;
  }
  .link i {
    color: black;
  }
  .about-section,
  .experience-section {
    width: 100%;
  }
  .about-section p,
  .experience-section p {
    width: 90%;
  }
  .fright {
    float: none;
  }
  .fleft {
    float: none;
  }
  .scroll-down {
    width: 10px;
    height: 10px;
  }
  .srl-label {
    display: none;
  }
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
/* @media (min-width: 500px) {
  .mainTitle {
    font-size: 40px;
  }
} */
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@media (max-width: 500px) {
  .landing-image {
    width: 75%;
    position: absolute;
    top: 37.5%;
    left: 12.5%;
    transform: translate(-50%, -50%);
  }
  .mainTitle {
    font-size: 20px;
  }
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@media (max-width: 770px) {
  .mainTitle {
    width: 100%;
    font-size: 50px;
  }
  .website-link h3 {
    font-size: 15px;
  }
  .education-image {
    width: 30%;
  }
  .website-link {
    width: 90%;
    border-radius: 7px;
  }
  .landing-image {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .scroll-down {
    width: 8px;
    height: 8px;
  }
  .profile-image {
    width: 35%;
  }
  .statue-image {
    width: 75%;
  }
  .box {
    width: 100%;
  }
}
/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
@media (max-width: 300px) {
  .mainTitle {
    font-size: 23px;
  }
  .profile-image {
    width: 50%;
  }
  .statue-image {
    width: 75%;
  }
  .media-icons a {
    font-size: 40px;
  }
}
