html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir" !important;
  background: black !important;
  color: #fff !important;
}

footer {
  position: relative;
  height: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  bottom: 0;
}
p.copyright span {
  font-size: 30px;
  color: white;
}
/* Type writer */
/* Blinking vertical line for typewriter */
.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  line-height: 58px;
  font-size: 30px;
}
/* Type writer */

.scroll-down {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.box {
  width: 450px;
  background-size: 100%;
  padding: 40px;
  text-align: center;
  margin-top: 5%;
  margin: 0 auto;
  display: block;
  color: white;
  position: relative;
  top: 100px;
  font-family: "Avenir", sans-serif;
}
.my-img {
  background: cover;
  background-size: 100%;
  transform: rotate(0deg);
  width: 250px;
  height: 250px;
  transition: all 0.1s ease-out;
  animation: flying 5s linear infinite;
}

.box-img {
  background: url("../images/mainimage.jpg");
  background: cover;
  background-size: 100%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: all 0.1s ease-out;
}

.box-img:hover {
  background: url(../images/wink.jpg) no-repeat center;
  background: cover;
  background-size: 100%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: all 0.1s ease-out;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box h2 a {
  outline: none;
  width: 500px;
  margin: auto;
  border-color: transparent;
  padding: 15px 25px;
  color: white;
  letter-spacing: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.5s ease-out;
}
.box h2 a:hover {
  color: black;
  background: white;
  text-decoration: none;
}
.box p {
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a {
  text-decoration: none;
  font-size: 60px;
  transition: all 1s ease-out;
}

@media only screen and (max-width: 414px) and (min-width: 320px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Mono" !important;
    background: black !important;
    color: #fff !important;
  }
  footer {
    position: relative;
    height: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  p.copyright {
    position: absolute;
    width: 100%;
    color: white;
    line-height: 100px;
    font-size: 15px;
    text-align: center;
    bottom: 0;
  }
  p.copyright span {
    font-size: 20px;
    color: white;
  }

  /* Type writer */
  /* Blinking vertical line for typewriter */
  .line {
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  .anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
  }

  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero h1 {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 58px;
    font-size: 15px;
  }
  /* Type writer */
}

.scroll-down {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
}

h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}
.info h4 {
  font-size: 18px;
  font-weight: lighter;
}
.info p {
  color: grey;
  font-weight: lighter;
}
.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#media ul {
  list-style: none;
}
#media ul li {
  display: inline-block;
  position: relative;
  width: 50px;
  padding: 10%;
}
#media ul li a {
  font-size: 40px;
  color: white;
  transition: color 0.5s ease-out;
  border: none;
  transition: font-size 0.1s ease-out;
}
#media ul li a:hover {
  color: gray;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}
#media ul span li a {
  font-size: 40px;
  color: white;
  transition: color 0.5s ease-out;
  transition: font-size 0.1s ease-out;
}
#media ul span li a:hover {
  color: #38a1f3;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}
#media ul span span li a {
  font-size: 40px;

  color: white;
  transition: color 0.5s ease-out;
  transition: font-size 0.1s ease-out;
}
#media ul span span li a:hover {
  color: #0e76a8;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}
#media ul span span span li a {
  font-size: 40px;
  color: white;
  transition: color 0.5s ease-out;
  transition: font-size 0.1s ease-out;
}
#media ul span span span li a:hover {
  border-radius: 40%;
  height: 42px;
  color: white;
  text-decoration: none;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 90%
  );
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

.box {
  width: 300px;
  background-size: cover;
  padding: 40px;
  text-align: center;
  margin-top: 5%;
  margin: 0 auto;
  display: block;
  color: white;
  position: relative;
  top: 100px;
  font-family: "Avenir", sans-serif;
}

.box-img {
  background: url("../images/mainimage.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  display: block;
  height: 150px;
  transition: all 0.1s ease-out;
}
.box-img:hover {
  background: url(../images/wink.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  display: block;
  height: 150px;
  transition: all 0.1s ease-out;
}
.box h1 {
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5 {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box h2 a {
  width: 100px;
  outline: none;
  margin: auto;
  border-color: transparent;
  color: white;
  letter-spacing: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.5s ease-out;
}
.box h2 a:hover {
  color: black;
  background: white;
  text-decoration: none;
}
.box p {
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all 1s ease-out;
}
.box span li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all 0.5s ease-out;
}

.box span li a:hover {
  color: #38a1f3;
}
.box li a:hover {
  color: #99ff66;
}
.box span span li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all 0.5s ease-out;
}

.box span span li a:hover {
  color: #0077b5;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box span span span li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all 0.5s ease-out;
}

.box span span span li a:hover {
  color: #ff4d4d;

  /* change this to change the size*/
}
/* Box */
